:root {
    --cornflowerblue: cornflowerblue;
    --pink: pink;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/assets/images/MuriGotouHitori.gif);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bg {
    
}

.bg_konata {
    position: absolute;
    bottom: 0;
    left: 0;
}

.container {
    width: 40%;
    height: 80%;
    background: rgba(0, 0, 0, 0.5);
    padding: 32px;
    border-radius: 5px;
    position: relative;
    backdrop-filter: blur(8px);
}

.header {
    text-align: center;
    color: white;
    animation: rotate 5s ease-in-out infinite;
}

.nav {
    position: absolute;
    text-align: center;
    color: deepskyblue;
    text-shadow: 2px 2px 5px white;
    top: 50%;
    bottom: 50%;
    width: 40%;
}

.section {
    top: 50%;
    right: 0;
}

.video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }

  .video iframe {
    position: absolute;
    top: 50%;
    right: 0;
    width: 50%;
    height: 50%;
  }

.footer {
    position: fixed;
    text-align: center;
    color: rgba(255, 255, 255, 0.1);
    width: 100%;
    padding: 32px;
    left: 0;
    bottom: 0;
}

@keyframes rotate {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}