body {
    background-color: cornflowerblue;
    width: 100vw;
    height: 100vh;
}

.bg {
    
}

.bg_konata {
    background: url(assets/images/Konata.png);
    background-size: 512px 512px;
    background-repeat: no-repeat;
}

.container {
    position: relative;
}

.section {

}

.footer {

}