:root {
    --cornflowerblue: cornflowerblue;
    --pink: pink;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/assets/images/MuriGotouHitori.gif);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

.bg {
    
}

.bg_konata {
    position: absolute;
    bottom: 0;
    left: 0;
}

.container {
    width: 40%;
    height: 80%;
    background: rgba(0, 0, 0, 0.5);
    padding: 32px;
    border-radius: 5px;
    position: flex;
    backdrop-filter: blur(8px);
}

.header {
    text-align: center;
    color: white;
    animation: rotate 5s ease-in-out infinite;
}

.secnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding-top: 64px;
}

.nav {
    position: relative;
    text-align: center;
    width: 100%;
    line-height: 16px;
}

.section {
    position: relative;
    padding-top: 32px;
    width: 100%;
    height: 100%;
}

.video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    right: 0;
  }

  .video iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

.footer {
    position: absolute;
    text-align: center;
    color: rgba(255, 255, 255, 0.1);
    width: 100%;
    padding: 32px;
    left: 0;
    bottom: 0;
}

a:link, a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
    font-size: 18px;
}

@keyframes rotate {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}